h1{
  font-size: 30px;
  text-align: center;
  color: #de7471
  }


p{
  font-size: 20px;
  text-align: left;
  font-family: Helvetica, sans-serif;
  }

.funny{
   text-shadow: 4px 4px 3px #77f;
     color: #f33;
 }

.red {
  color: #f33;
  }
